Repository gregrickaby/twenty-twenty-child-theme: changes, and which lefthook commands are due for each by the changed paths.
All: php, styles, javascript, markdown

php:
  run: composer run lint {staged_files}

styles:
  run: wp-scripts lint-css:fix {staged_files}

javascript:
  run: wp-scripts lint-js:fix {staged_files}

markdown:
  run: wp-scripts lint:md-docs {staged_files}

update config
  lefthook.yml
Due: none

formatting fixes
  README.md
  functions.php
  src/index.js
Due: php, javascript

update wordpress coding standards
  package-lock.json
  package.json
Due: none

correct glob
  lefthook.yml
Due: none

bump
  lefthook.yml
Due: none

check in settings
  .vscode/settings.json
Due: none

remove exif code
  functions.php
Due: php

dependency bump
  package-lock.json
  package.json
Due: none

add .github
  .github/CODEOWNERS
  .github/CONTRIBUTING.md
  .github/FUNDING.yml
  .github/LICENSE
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
Due: none

dependency bump
  composer.lock
Due: none

bump
  .eslintignore
  .eslintrc.js
  .github/CONTRIBUTING.md
  .github/LICENSE
  .gitignore
  .markdownlint.json
  .markdownlintignore
  .prettierrc.js
  .stylelintignore
  .stylelintrc.json
  .vscode/extensions.json
  .vscode/settings.json
  CONTRIBUTING.md
  LICENSE.md
  README.md
  lefthook.yml
  package-lock.json
  package.json
  phpcompat.xml.dist
  phpcs.xml.dist
  phpunit-watcher.yml.dist
  phpunit.xml.dist
  style.css
Due: styles, javascript

update description
  package-lock.json
  package.json
Due: none

rename to .phpcs.xml
  .phpcs.xml
Due: none

use updated file name
  composer.json
  composer.lock
  lefthook.yml
Due: none

use asset file
  functions.php
Due: php

add postcss config
  postcss.config.js
Due: javascript

rename to index.css
  src/index.css
Due: styles

import index.css
  src/index.js
Due: javascript

bump
  .vscode/snipsnap.code-snippets
Due: none

initial commit
  .github/workflows/assertions.yml
Due: none

add workflow dispatch
  .github/workflows/assertions.yml
Due: none

adjust indent
  .github/workflows/assertions.yml
Due: none

add push
  .github/workflows/assertions.yml
Due: none

formatting
  .github/workflows/assertions.yml
Due: none

bump
  .github/workflows/assertions.yml
  src/index.js
  webpack.config.js
Due: javascript

maybe
  .github/workflows/assertions.yml
Due: none

add assertions workflow
  .github/workflows/assertions.yml
Due: none

round logo. hide homepage title.
  src/index.css
Due: styles

bump
  package-lock.json
Due: none

enable prism things
  src/index.js
Due: javascript

Path conditions:
  php: any of: *.php
  styles: any of: *.{css,scss}
  javascript: any of: *.{js,ts,tsx}
  markdown: any of: *.{md}
